<div class="container about">
    <h1 class="display-4 hero ">About Us</h1>
</div>
<div class="container info">
    <h4 class="display-5">What do we do?</h4>
    <p>
        The Vandrevala Foundation was founded and funded by Priya Hiranandani-Vandrevala and Cyrus Vandrevala in 2008. The charity aims to provide significant aid and funding for those suffering from mental health issues in India.

Current programmes  include:
‍
A national mental health Initiative in India, with an anti-stigma campaign to dispel negative beliefs about mental illnesses.
‍
A 24-7 Mental Health helpline to aid patients, their relatives and others struggling with mental health problems. The Helpline currently operates Pan India. Advice and assistance is available in Hindi, Marathi, Gujarati and English.
‍
A 24-7 counselling centre with face-to-face treatment for those suffering with mental health problems and illnesses in Mumbai.
‍
Support in restructuring the Thane Mental Hospital, which has the capacity of supporting 1,856 people in its beds.

The Vandrevala Foundation continues in its efforts to tackle problems including; lack of treatment, lack of resources and facilities for the mentally ill and social discrimination against those suffering with mental health problems.
    </p>
</div>